*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

iframe {
    display: none;
}

body {
    font: 16px/26px Myriad Pro, Tahoma, Geneva, sans-serif;
    padding: 20px;
    line-height: 24px;
    text-align: center;
}

html, button, input, select, textarea {
    color: #222;
    border: none;
}

::-moz-selection {
    background: #01529C;
    text-shadow: none;
}

::selection {
    background: #01529C;
    text-shadow: none;
}

h1 {
    color: #01529C;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    margin: 0 0 5px 0;
}

h1 strong {
    color: #198ac4;
}

p {
  line-height: 1.3em;
}

p.lead {
    color: #96a0a2;
    font-size: 1.3em;
    margin: 0 0 .7em 0;
    line-height: 1.2em;
}

h2 {
    font-size: 28px;
    margin: 20px 0 10px;
}

a {
    color: #01529C;
}

.wrapper {
    max-width: 480px;
    margin: 0 auto;
    text-align: left;
}

form {
    background: #0273B1; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #3690c2 0%, #0273b1 50%, #0273b1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#3690c2), color-stop(50%,#0273b1), color-stop(100%,#0273b1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #3690c2 0%,#0273b1 50%,#0273b1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #3690c2 0%,#0273b1 50%,#0273b1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #3690c2 0%,#0273b1 50%,#0273b1 100%); /* IE10+ */
    background: linear-gradient(135deg,  #3690c2 0%,#0273b1 50%,#0273b1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3690c2', endColorstr='#0273b1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: #fff;
    padding: 0 20px;
    border-radius: 15px;
}

.form-border {
    margin: 0 -20px;
    height: 20px;
    background: #7d8588; /* Old browsers */
    background: -moz-linear-gradient(left,  #7d8588 0%, #a8adb0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#7d8588), color-stop(100%,#a8adb0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #7d8588 0%,#a8adb0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #7d8588 0%,#a8adb0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #7d8588 0%,#a8adb0 100%); /* IE10+ */
    background: linear-gradient(to right,  #7d8588 0%,#a8adb0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d8588', endColorstr='#a8adb0',GradientType=1 ); /* IE6-9 */
}
.form-border.top {
    border-radius: 15px 15px 0 0;
}
.form-border.bottom {
    border-radius: 0 0 15px 15px;
}

.row {
    overflow: hidden;
    padding-bottom: 10px;
}

input, select {
    width: 100%;
    padding: 8px 10px;
    color: #0273B1;
    font-size: 14px;
}

label.error {
    color: #fff;
    background-color: red;
    text-align: left;
    display: block;
    padding: 2px 8px;
    font-size: 12px;
}

.col {
    float: left;
    text-align: left;
}

.col-first-name {
    width: 48%;
    margin-right: 4%;
}
.col-last-name {
    width: 48%;
}
.col-city {
    width: 40%;
    margin-right: 4%;
}
.col-state {
    width: 24%;
    margin-right: 4%;
}
.col-zip {
    width: 28%;
}

button {
    background: #fe0000; /* Old browsers */
    background: -moz-linear-gradient(top,  #fe0000 0%, #f68987 50%, #fe0000 50%, #fe0000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fe0000), color-stop(50%,#f68987), color-stop(50%,#fe0000), color-stop(100%,#fe0000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fe0000 0%,#f68987 50%,#fe0000 50%,#fe0000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fe0000 0%,#f68987 50%,#fe0000 50%,#fe0000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fe0000 0%,#f68987 50%,#fe0000 50%,#fe0000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fe0000 0%,#f68987 50%,#fe0000 50%,#fe0000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe0000', endColorstr='#fe0000',GradientType=0 ); /* IE6-9 */
    color: #fff;
    display: block;
    width: 100%;
    border: 2px solid #fff;
    border-radius: 10px;
    font-size: 1.4em;
    padding: 10px;
    text-shadow: 1px 1px 5px #5A0202;
    font-weight: 700;
    margin-top: 10px;
}
button span {
    text-decoration: underline;
}
button:hover {
    background: #AF0000;
}

.required-text {
    font-size: 12px;
    display: block;
    padding-bottom: 10px;
}

.confirmation {
    color: #636363;
    line-height: 25px;
}

.confirmation h2 {
    color: #01529C;
}

.confirmation h3 {
    color: #01529C;
    font-size: 24px;
    margin-bottom: 5px;
}

.confirmation p {
}

.thank-you {
}

.connect {
    margin-bottom: 25px;
}

.social {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.social li {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
}
.social li a {
    display: block;
    overflow: hidden;
    width: 100px;
    height: 100px;
    text-indent: -9999px;
}
.social li a.facebook {background: url(/img/sprite.png) no-repeat 0 0;}
.social li a.pinterest {background: url(/img/sprite.png) no-repeat -100px 0;}
.social li a.youtube {background: url(/img/sprite.png) no-repeat -200px 0;}
.social li a.twitter {background: url(/img/sprite.png) no-repeat -300px 0;}

.download-materials p {
    margin: -5px 0 25px;
}

.free-stuff {
    margin: 0;
    padding: 0;
    text-align: center;
}
.free-stuff li {
    list-style: none;
}
.free-stuff img {
    display: block;
    margin: 0 auto;
}

.logos {
    padding: 0;
    overflow: hidden;
}
.logos li {
    margin: 0;
    padding: 5px;
    float: left;
    list-style: none;
}

.logos span {
    color: #01529C;
    display: block;
    margin: -10px 58px;
}

.footer {
    padding-top: 25px;
    font-size: 14px;
    text-align: left;
    color: #636363;
    line-height: 15px;
}

@media only screen and (max-width: 500px){
    #mediaplayer {height: 14em !important; margin-bottom: 30px;}
}


@media only screen and (max-width: 320px){
    .logo {
        width: 150px;
    }
    h1 {
        font-size: 20px;
        line-height: 20px;
    }
    h2 {
        font-size: 20px;
        margin: 10px 0 0;
    }
    p.lead {
        font-size: 14px;
        line-height: 16px;

    }
    p.form-lead {
        font-size: 12px;
        line-height: 14px;
        margin: 5px 0 15px 0;
    }

    #mediaplayer {height: 7em !important;}

}